In [1]:
exam_passed = True

if exam_passed: # exam_passed==True
print("Yahoo!")
else:
print("Sad!")

IndentationError: expected an indented block after 'if' statement on line 3 (2988091500.py, line 4)

In [2]:
exam_passed = True

if exam_passed: # exam_passed==True
    print("Yahoo!")
else:
    print("Sad!")

Yahoo!

In [5]:
a = 20
if a<5:
    print("<5")
elif a==5:
    print("==5")
elif a>5:
    print(">5")

>5

In [8]:
# nested if
a = int(input())
if a < 10:
    if a % 2 == 0:
        print('less, yes')
    else:
        print('less, no')
else:
    if (a % 3) == 0:
        print('greater, yes')
    else:
        print('greater, no')

 12

greater, yes

In [10]:
letter = input()

if letter >='a' and letter <='z':
    print('Lower case')
elif letter >='A' and letter <='Z':
    print('Upper case')
else:
    print('Nothing')

 1

Nothing

In [13]:
a = 0
if a==0:
    print('0')
if a!=1:
    print('!=1')
else:
    print('Nothing')

0

In [17]:
## LOOP
n = 1
sum = 0
while n <= 10:
    print(sum)
    sum = sum + n
    n = n + 1

print("final sum", sum)

0
1
3
6
10
15
21
28
36
45
final sum 55

In [18]:
veges = ['onion', 'potato', 'ginger', 'cucumber']

for item in veges:
    print(item)

onion
potato
ginger
cucumber

In [15]:
veges = ['onion', 'potato', 'ginger', 'cucumber']

for item in range(1, len(veges), 1):
    if item==3:
        continue
    print(veges[item])

potato
ginger

In [19]:
veges = {'a': 'onion', 'b': 'potato'}

for item in veges:
    print(item)

a
b

In [3]:
n = 1
while n <= 10:
    print(n)
    if n==3:
        break
    n = n + 1

1
2
3

In [5]:
n = 1
while n <= 10:
    n = n + 1
    if n==3:
        continue
    print(n)

2
4
5
6
7
8
9
10
11

In [11]:
for n in range(1, 10+1, 1):
    if n==3:
        continue
    print(n)

1
2
4
5
6
7
8
9
10

In [12]:
for n in range(1, 10+1, 1):
    if n==3:
        pass
    print(n)

1
2
3
4
5
6
7
8
9
10

In [13]:
print("Please provide a number: ")
number = int(input())
temp = number

while number > 0:
    count = temp
    while count > 0:
        print('*', end='')
        count -= 1
    print()
    number -= 1

Please provide a number:

 3

***
***
***

In [16]:
## FUNCTION
def print_my_age(age):
    # intro
    print("Age: ", age)
    return # None

In [17]:
print_my_age(50)

Age:  50

In [24]:
## FUNCTION
def sum_our_age(age_father, age_son=10):
    # intro
    # print("Age: ", age_father + age_son)
    sum_age = age_father + age_son
    return sum_age

In [21]:
sum = sum_our_age(60, 25)
sum

85

In [22]:
sum = sum_our_age(60)
sum

TypeError: sum_our_age() missing 1 required positional argument: 'age_son'

In [23]:
sum = sum_our_age(age_son=24, age_father=40)
sum

64

In [25]:
sum = sum_our_age(60)
sum

70

In [26]:
def add(*args):
    print(type(args))
    tmp = 0
    for number in args:
        tmp = tmp + number
    return tmp
temp = add(1, 2, 22, 12, 17, 21, 98)
print(temp)

<class 'tuple'>
173

In [30]:
## FILE
my_file = open('test_2.txt', 'r')
content = my_file.read()
print(content)
my_file.close()

The name of my country is Bangladesh.

In [37]:
## FILE
my_file = open('test_2.txt', 'w')
my_file.write("Bangladesh is my love.")
my_file.close()

In [32]:
my_file = open('test_2.txt', 'r')
content = my_file.read()
print(content)
my_file.close()

Bangladesh is my love.

In [36]:
## FILE
my_file = open('test_2.txt', 'a')
my_file.write("She is riverine.")
my_file.close()

In [35]:
my_file = open('test_2.txt', 'r')
content = my_file.read()
print(content)
my_file.close()

Bangladesh is my love.She is riverine.She is riverine.

In [ ]:
class Corolla:
    """Car Class"""
    def driving(self, acceleration):
        run_car
    def music(self):
        run_music
    def horn(self):
        make_sound

first_car = Corolla() # object
first_car.horn()

In [38]:
class Corolla:
    """Car Class"""
    def driving(self, acceleration):
        print(f"Driving at {acceleration}")
    def music(self):
        print(f"Hearing Music")
    def horn(self):
        print(f"Horn")

first_car = Corolla() # object
first_car.horn()

Horn

In [41]:
first_car.driving(10, 30)

TypeError: Corolla.driving() takes 2 positional arguments but 3 were given

In [42]:
first_car.driving(30)

Driving at 30